<header>
  <select (change)="onChange($event.target.value)">
    <option>Select Number of Rows</option>
    <option *ngFor="let val of data; let i = index">{{i + 1}}</option>
  </select>
</header>
<div>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Company</th>
    <th>Entry Date</th>
    <th>Org Number</th>
    <th>Address</th>
    <th>City</th>
    <th>Zip code</th>
    <th>Geo Location</th>
    <th>Pan</th>
    <th>Pin</th>
    <th>ID</th>
    <th>Status</th>
    <th>Fee</th>
    <th>UID</th>
    <th>Existing Date</th>
    <th>First Date</th>
    <th>Recent Date</th>
    <th>URL</th>
    <th>Submit</th>
  </tr>

  </thead>
  <tbody>
    <tr *ngFor="let list of pagedItems">
      <td>{{list.name}}</td>
      <td>{{list.phone}}</td>
      <td>{{list.email}}</td>
      <td>{{list.company}}</td>
      <td>{{list.date_entry}}</td>
      <td>{{list.org_num}}</td>
      <td>{{list.address_1}}</td>
      <td>{{list.city}}</td>
      <td>{{list.zip}}</td>
      <td>{{list.geo}}</td>
      <td>{{list.pan}}</td>
      <td>{{list.pin}}</td>
      <td>{{list.id}}</td>
      <td>{{list.status}}</td>
      <td>{{list.fee}}</td>
      <td>{{list.guid}}</td>
      <td>{{list.date_exit}}</td>
      <td>{{list.date_first}}</td>
      <td>{{list.date_recent}}</td>
      <td><a href="{{list.url}}">{{list.url}}</a></td>
      <td><button (click)="onSubmit(list.id, list.status)">Submit</button></td>
    </tr>
  </tbody>
</table>
</div>
<footer>
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Next</a>
    </li>
  </ul>
</footer>
