.pagination {
  display: inline-block;
  margin: 20px 540px;
  li {
    display: inline;
    a, span {
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.4;
      border: 1px solid #ddd;
    }
  }
}

table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 600px;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: scroll;
  max-width: 1500px;
  margin-top: 20px;

  th, td {
    padding: 15px;
  }
}



