table, td, th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 600px;
  display: inline-block;
  max-width: 1500px;
  margin-top: 20px;

  th, td {
    padding: 15px;
  }
}
